body {
  margin: 0;
  height:100%;
  background-color: #f2eae7;
  font-family: -apple-system, BlinkMacSystemFont, 'Passion One', 'cursive' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {padding-top:40px; margin-top:-40px;}
                    .nav {
                    background-color:#f2eae7;
                    }
                    .form-group input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: thin;
    border-bottom-color: #254F5E;

}

.text {
  font-family: 'Cormorant Garamond'; 
  fontWeight: 300; 
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: 0; */
  /* right: 0; */
  height: 100%;
  width: 95%;
  opacity: 0;
  transition: .8s ease;
  background-color: black;
}

.img-hover:hover .overlay {
  opacity: 0.6;
}

.para-1 {
    font-family: 'Josefin Sans';
    font-weight: 300;
    color:#254F5E;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase
}

.datepicker {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color:#254F5E;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase
}

.datepicker-switch {
  font-weight: 300;
}  

.dow {
  font-weight: 300;
}  


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon-custom:focus {
    outline: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(37,79,94,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.tab-heading {
  font-family: 'Cormorant Garamond';
  font-weight: 300;
  color:#254F5E;
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center
}

.text-overlay {
  font-family: 'Cormorant Garamond';
   font-weight: 300;
   font-size: 36px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.descr-1{
font-family: 'Cormorant Garamond';
font-weight: 300;
font-size: 24pt;
letter-spacing: 2px;
text-transform:uppercase
}

.form-control{
  font-family: 'Josefin Sans';
  font-weight: 100;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  }

@media screen and (min-width: 1000px) {
  .custom-overlay {
    position: absolute;
    bottom: 0%;
    right: 0%;
    padding-bottom: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .custom-overlay {
    padding: 20px;
    background-color: #254F5E;
  }

  .tab-heading {
    font-family: 'Cormorant Garamond';
    font-weight: 300;
    color:#254F5E;
    font-size: 24px;
  }

  .text-overlay {
     font-size: 20px;
  }

  .descr-1{
    font-size: 16pt;
    letter-spacing: normal
  } 
}